<% include ./partial/header %>

<div class="banner" >
    <div class="container">

    </div>
    <!-- end of container -->
</div>
<!-- end of .banner -->

<div class="container short-msg">
    <h3>Here is the short message.</h3>
</div>
<!-- end of .short-msg -->

<div class="popular-menu">
    <h3>Sweet Deals & Discounts</h3>

</div>

<div class="top-city">
    <h3>Our Top Partner Restaurants</h3>

</div>

<div class="mobile-app">
    <h3>Just Download & Order</h3>

</div>


<% include ./partial/footer %>
