<% include ./partial/header %>

<div class="banner" >
    <div class="container">

    </div>
    <!-- end of container -->
</div>
<!-- end of .banner -->

<div class="container short-msg">
    <h3>Here is the short message.</h3>
</div>
<!-- end of .short-msg -->

<div class="popular-menu">
    <h3>Hot Menu</h3>

</div>
<!-- end of .popular-menu -->

<div class="top-city">
    <h3>Our Top Service Area</h3>

</div>
<!-- end of .top-city -->

<div class="mobile-app">
    <h3>Just Download & Order</h3>

</div>
<!-- end of .mobile-app -->

<div class="about-us">
    <h3>About Us</h3>

</div>
<!-- end of .about-us -->

<% include ./partial/footer %>
