    <footer>
      <center>
        <p class="text-muted">Copyright © 2019 Jeejee Technologies (<a href="http://www.codersys.com/" target="_blank">www.codersys.com</a>)</p>
      </center>
    </footer>


  </div>
  <!-- End of .main-panel -->

</div>
<!-- end of .wrapper -->


<!--   Core JS Files   -->
<script src="/vendor/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="/vendor/jquery/jquery-ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="/vendor/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/vendor/jquery/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Forms Validations Plugin -->
<!-- <script src="/vendor/jquery/jquery-validation/1.16.0/dist/jquery.validate.min.js"></script> -->
<!--  Plugin for the Wizard -->
<script src="/vendor/jquery/jquery.bootstrap-wizard.js"></script>
<!-- Select Plugin -->
<!--<script src="/js/plugins/jquery.select-bootstrap.js"></script>-->
<!-- Sweet Alert 2 plugin -->
<!-- <script src="/vendor/jquery/js/plugins/sweetalert2.min.js"></script> -->

</body>
</html>
